<%= error_messages_for(@user) %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="user edit">
  <h2>Update User</h2>

  <%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update User") %>
    </div>
    
  <% end %>
</div>
