<%= error_messages_for(@user) %>

<div><%= pluralize(@users.size, 'user') %> found</div>

<div class="section listing users">
	<h2>Users</h2>
	
	<%= link_to("Add New User", {:action => 'new'}, :class => 'action new') %>

    <div><%= pluralize(@users.size, 'user') %> found</div>
  
	<table class="listing" summary="User list">
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Password Hash</th>
			<th>Active?</th>
			<th>Actions</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td><%= user.password %></td>
			<td><%= status_tag(user.active) %></td>
			<td>
				<%= link_to("Show", {:action => 'show', :id => user.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => user.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => user.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
